.eager-paypal-buttons {
  display: inline-block;
}

.eager-info-wrapper {
  background-color: #efefef;
  display: block;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 5px;
}

.eager-item-name {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.eager-price {
  line-height: 2.5em;
}

.eager-shipping-and-tax {
  display: block;
  line-height: 1.5em;
}

.paypal-button-widget {
  text-align: center;
}

.eager-info-wrapper, .eager-info-wrapper {
  margin-right: 5px;
}
