.eager-paypal-buttons {
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  transition: filter 100ms linear;
  width: 100%;
}

.eager-paypal-buttons,
.eager-paypal-buttons *,
.eager-paypal-buttons *::before,
.eager-paypal-buttons *::after {
  box-sizing: border-box;
}

.eager-paypal-buttons div {
  background: initial;
  border: initial;
  color: initial;
  margin: initial;
  padding: initial;
  width: initial;
}

.eager-paypal-buttons[data-state="refreshing"] {
  filter: blur(2px);
  opacity: 0.9;
}

.eager-paypal-buttons eager-waiting-message {
  border: 2px solid rgba(100, 100, 100, 0.1);
  border-left: none;
  border-right: none;
  display: block;
  flex: 0 0 auto;
  font-size: 1.25em;
  line-height: 1.7;
  margin: 0.4em;
  opacity: 0.85;
  padding: 0.4em 0;
  text-align: center;
  width: 100%;
}

.eager-paypal-buttons eager-button-container {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  display: inline-block;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  justify-content: space-between;
  margin: 0.4em;
  max-width: 100%;
  padding: 1em;
  width: 20.5em;
}

.eager-paypal-buttons eager-item-name {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 0.2em;
}

.eager-paypal-buttons eager-item-description {
  display: block;
  line-height: 1.5;
  margin-bottom: 0.4em;
}

.eager-paypal-buttons eager-item-name:empty::before {
  display: inline;
  content: attr(data-placeholder);
}

.eager-paypal-buttons .eager-attention {
  color: rgb(172, 104, 62);
  opacity: 0.4;
}

.eager-paypal-buttons eager-price {
  display: inline-block;
  line-height: 1.6;
  vertical-align: center;
}

.eager-paypal-buttons eager-price-details {
  display: inline-block;
  vertical-align: center;
  font-size: 0.75em;
  line-height: 1em;
  margin-bottom: 1em;
  opacity: 0.8;
}

.eager-paypal-buttons .paypal-group {
  font-variant: small-caps;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.eager-paypal-buttons .paypal-group ~ button.paypal-button {
  margin-top: 0.9em;
}

.eager-paypal-buttons .paypal-button-content {
  height: auto;
}

.eager-paypal-buttons button.paypal-button {
  display: block;
  margin: 0 auto;
  user-select: none;
}

.eager-paypal-buttons button.paypal-button .paypal-button-logo,
.eager-paypal-buttons button.paypal-button .paypal-button-content {
  display: inline-block;
  height: 28px;
  vertical-align: middle;
}

.eager-paypal-buttons button.paypal-button .paypal-button-logo {
  align-items: center;
  background-color: #fefefe;
  display: inline-flex;
  justify-content: center;
  width: 28px;
}

.eager-paypal-buttons button.paypal-button .paypal-button-logo img {
  display: block;
  margin: 0;
  padding: 0;
}

.eager-paypal-buttons eager-button-container[data-button-type="buynow"] eager-price + .paypal-button-widget {
  margin-top: 0.5em;
}

.eager-paypal-buttons eager-button-container[data-button-type="subscribe"] eager-price + .paypal-button-widget {
  margin-top: 0.5em;
}


.eager-paypal-buttons paypal-input-container {
  align-items: baseline;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  display: inline-block;
  display: inline-flex;
  padding: 0.3em 0.4em;
  width: 3.6em;
}

.eager-paypal-buttons paypal-input-container::before {
  content: attr(data-currency);
  display: inline-block;
  flex: 0 0 auto;
  font-size: 0.85em;
  margin-right: 0.05em;
  opacity: 0.65;
  vertical-align: middle;
}

.eager-paypal-buttons paypal-input-container > input {
  background-color: transparent;
  border: none;
  display: inline-block;
  flex: 1 1 auto;
  font-size: 0.85em;
  height: auto;
  margin: 0;
  min-height: 0;
  min-width: 0;
  padding: 0;
  vertical-align: middle;
  width: auto;
}

.eager-paypal-buttons paypal-input-container > input:focus {
  outline: none;
}
